{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<nav>
			<div class="w3-row w3-large" id="first-nav">
				<div class="number w3-col s4">
					<img width="50" height="50" src="src/images/icons8-phone-50.png" alt="point-objects"/>
					+1 234 5678
				</div>
				<div class="email w3-col s4">
					<img width="50" height="50" src="src/images/icons8-mail-50.png" alt="point-objects"/>
					contact@company.com
				</div>
				<div class="address w3-col s4">
					<img width="50" height="50" src="src/images/icons8-navigation-50.png" alt="point-objects"/>
					Best city, Good st, First alley, 1 postcode
				</div>
			</div>
			<div class="w3-row w3-large" id="big-nav">
				<a class="w3-col s4 w3-center logo" href="{{ site.url }}">
					{{ site.name }}
				</a>
				{% block header %}
					<div id="second-nav">
						<div class="w3-col s1">
							<a href="{{ site.url }}" class="carma-btn">Home</a>
						</div>
						{% include "menu.twig" with {'items': menu.get_items} %}
						<div class="w3-col s1 donate p4 w3-button w3-block">
							Donate
						</div>
					</div>
				{% endblock %}
			</div>
		</nav>
		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block cards %}{% endblock cards %}
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
